requests  # HTTP library for making API calls.
pandas  # Data manipulation and analysis library.
scikit-learn==1.5.2  # Tools for predictive data analysis.
joblib  # Efficient serialization of Python objects.
sounddevice  # Audio I/O for capturing and playing sound.
vosk  # Offline speech recognition library.
pocketsphinx  # CMU's lightweight speech recognition library.
sentence-transformers  # Library for sentence embeddings and semantic search.
evdev  # Handle input devices such as keyboards, mice (Linux only).
selenium  # Web automation library for controlling browsers.
discord.py  # Discord API wrapper for bot creation.
hyperdb-python  # High-performance database library.
tiktoken 
python-dotenv
pygame
openai  #Python package necessary for interacting with the OpenAI API
moviepy  # Python library for video editing / playing videos.
sox
adafruit-pca9685
azure-cognitiveservices-speech #needed for azure TTS
soundfile #needed for alltalk tts
piper-tts #needed for local TTS with voice clone
discord.py[voice] #needed to voice chat with tars on discord
configobj #needed to keep comments in the config.ini when updating
openai
librosa
#espeak-ng
#alsa-utils
#sudo apt install ffmpeg
faster-whisper
silero-vad
bm25s
pystemmer
elevenlabs
pydub # needed for voice modifications
waitress #needed for chat ui
flask-cors #needed for chat ui
flask-socketio #needed for chat ui
eventlet #needed for chat ui instead of waitress
Flask[async]
